---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url><loc>https://www.jonbjorkmusic.com/</loc></url>
  <url><loc>https://www.jonbjorkmusic.com/courses</loc></url>
  <url><loc>https://www.jonbjorkmusic.com/coaching</loc></url>
  <url><loc>https://www.jonbjorkmusic.com/practiceroom</loc></url>
  <url><loc>https://www.jonbjorkmusic.com/notes/</loc></url>
  <url><loc>https://www.jonbjorkmusic.com/licks/</loc></url>
  <url><loc>https://www.jonbjorkmusic.com/contact</loc></url>
  <url><loc>https://www.jonbjorkmusic.com/alternate-picking/</loc></url>
  {%- for lesson in collections.picking %}
  <url><loc>https://www.jonbjorkmusic.com{{ lesson.url }}</loc></url>
  {%- endfor %}
  {%- for tech in collections.techniques %}
  <url><loc>https://www.jonbjorkmusic.com/licks/technique/{{ tech.slug }}/</loc></url>
  {%- endfor %}
  {%- for lick in collections.licks %}
  <url><loc>https://www.jonbjorkmusic.com{{ lick.url }}</loc></url>
  {%- endfor %}
  {%- for essay in collections.essays %}
  <url><loc>https://www.jonbjorkmusic.com{{ essay.url }}</loc></url>
  {%- endfor %}
</urlset>
